In [83]:
#Importing dependancies. In four Jupyter boxes for reasons
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import datetime as dt
import pandas as pd

In [84]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [85]:
#Starting the data magic. This takes five boxes
engine = create_engine("sqlite:///citypop.db")
engine

Engine(sqlite:///citypop.db)

In [86]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
# We can view all of the classes that automap found
Base.classes.keys()

['onlytable', 'onlytable2']

In [87]:
# Save references to each table
onlytable=Base.classes.onlytable2

In [88]:
session = Session(engine)
inspector=inspect(engine)

In [92]:
dataframe = pd.read_sql_query("SELECT * FROM onlytable2", engine)
print(dataframe)

dataframe=pd.DataFrame.from_records(dataframe,columns=['date', 'SNOW', 'NOSNOW'])
dataframe.set_index(["date"])
dataframe.head()

         date Anchorage  Chicago Fort Wayne Louisville  Detroit Minneapolis  \
0  1950-01-01     11254  3620962     133607     369129  1849568      521718
1  1960-01-01     44237  3550404     161776     390639  1670144      482872
2  1970-01-01     48081  3369357     178269     361706  1514063      434400
3  1980-01-01    174431  3005072     172391     298694  1203368      370951
4  1990-01-01    226338  2783726     173072     269063  1027974      368383
5  2000-01-01    260283  2896016     205727     256231   951270      382618
6  2010-01-01    291826  2695598     253691     597337   713777      382578

  New York City Cleveland      SNOW  ... Los Angeles San Diego   Miami  \
0       7891957    914808  15313003  ...     1970358    334387  249276
1       7781984    876050  14958106  ...     2479015    573224  291688
2       7895563    750879  14552318  ...     2811801    697027  334859
3       7071639    573822  12870368  ...     2968579    875538  346681
4       7322564    505616  12676736  ...     3485398   1110549  358548
5       8008278    478403  13438826  ...     3694820   1223400  362470
6       8175133    396815  13506755  ...     3792621   1307402  399457

  Atlanta Honolulu Nashville Corpus Christi  Houston Las Vegas    NOSNOW
0  331314   248034    174307         108287   596163    24,624   4143568
1  487455   294194    170874         167690   938219    64,405   5905934
2  495039   324871    448003         204525  1233535   125,787   7259750
3  425022   365048    455651         232134  1595138   164,674   8218169
4  394017   365272    488374         257453  1630553   258,295   9331862
5  416474   371657    545524         277454  1953631   478,434  10644909
6  420003   387170    601222         305215  2099451   583,756  11341929

[7 rows x 21 columns]

         date      SNOW   NOSNOW
0  1950-01-01  15313003  4143568
1  1960-01-01  14958106  5905934
2  1970-01-01  14552318  7259750
3  1980-01-01  12870368  8218169
4  1990-01-01  12676736  9331862

In [93]:
lines=dataframe.plot.line(x='date',y='SNOW')
lines2=dataframe.plot.line(x='date',y='NOSNOW')
plt.savefig('precipitationplot.png')
plt.show()

TypeError: Empty 'DataFrame': no numeric data to plot