In [65]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

In [66]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
#census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                        #  "B19301_001E",
                        #  "B17001_002E"), {'for': 'zip code tabulation area:*'})

        
census_data = c.acs5.get(("NAME","B01001_001E","STATE"), {'for': 'place:*'})


# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01001_001E": "Population","NAME": "Name", "place": "City"})

CensusException: Sorry, the system is currently undergoing maintenance or is busy.  Please try again later.

In [ ]:
# Final DataFrame
census_pd = census_pd[["Name","Population"]]

# Visualize
print(len(census_pd))
census_pd.head()

In [ ]:

Census_df=census_pd.loc[(census_pd["Name"]=="Cleveland city, Ohio")|(census_pd["Name"]=="Detroit city, Michigan")|
                        (census_pd["Name"]=="Miami city, Florida")|(census_pd["Name"]=="Phoenix city, Arizona")|
                       (census_pd["Name"]=="San Diego city, California")|(census_pd["Name"]=="Los Angeles city, California")|
                       (census_pd["Name"]=="Atlanta city, Georgia")|(census_pd["Name"]=="New York city, New York")|
                       (census_pd["Name"]=="Nashville-Davidson metropolitan government (balance), Tennessee")|
                       (census_pd["Name"]=="Las Vegas city, Nevada")|(census_pd["Name"]=="Houston city, Texas")|
                       (census_pd["Name"]=="Chicago city, Illinois")|(census_pd["Name"]=="Fort Wayne city, Indiana")|
                       (census_pd["Name"]=="Louisville/Jefferson County metro government (balance), Kentucky")|
                       (census_pd["Name"]=="Toledo city, Ohio")|(census_pd["Name"]=="Anchorage municipality, Alaska")|
                       (census_pd["Name"]=="Corpus Christi city, Texas")]
Census_df

In [ ]:
Census_df.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='')

In [ ]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
Census_df.to_csv("Census.csv", encoding="utf-8", index=False)

In [67]:
file_to_load = "Resources/Census.csv"

# Read Purchasing File and store into Pandas data frame
Census_Cities = pd.read_csv(file_to_load,sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
Census_Cities.head()

              NAME Population
0  Corpus Christi      322726
1         New York    8560072
2           Toledo     279455
3       Cleveland      388812
4        Nashville     654187

In [68]:
file_to_load = "Resources/DownloadAllStations.csv"

# Read Purchasing File and store into Pandas data frame
Weather_data = pd.read_csv(file_to_load,low_memory=False)
Weather_data.head(25)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,CDSD,CDSD_ATTRIBUTES,...,WSF1,WSF1_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES
0,USW00012918,Houston,29.63806,-95.28194,13.4,1950-01,NaN,NaN,94.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00012918,Houston,29.63806,-95.28194,13.4,1950-02,NaN,NaN,132.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00012918,Houston,29.63806,-95.28194,13.4,1950-03,NaN,NaN,178.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00012918,Houston,29.63806,-95.28194,13.4,1950-04,NaN,NaN,285.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00012918,Houston,29.63806,-95.28194,13.4,1950-05,NaN,NaN,687.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,USW00012918,Houston,29.63806,-95.28194,13.4,1950-06,NaN,NaN,1146.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,USW00012918,Houston,29.63806,-95.28194,13.4,1950-07,NaN,NaN,1680.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,USW00012918,Houston,29.63806,-95.28194,13.4,1950-08,NaN,NaN,2218.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,USW00012918,Houston,29.63806,-95.28194,13.4,1950-09,NaN,NaN,2648.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,USW00012918,Houston,29.63806,-95.28194,13.4,1950-10,NaN,NaN,2897.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,USW00012918,Houston,29.63806,-95.28194,13.4,1950-11,NaN,NaN,2965.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,USW00012918,Houston,29.63806,-95.28194,13.4,1950-12,NaN,NaN,2984.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,USW00012918,Houston,29.63806,-95.28194,13.4,1951-01,NaN,NaN,12.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,USW00012918,Houston,29.63806,-95.28194,13.4,1951-02,NaN,NaN,41.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,USW00012918,Houston,29.63806,-95.28194,13.4,1951-03,NaN,NaN,117.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,USW00012918,Houston,29.63806,-95.28194,13.4,1951-04,NaN,NaN,238.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,USW00012918,Houston,29.63806,-95.28194,13.4,1951-05,NaN,NaN,547.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,USW00012918,Houston,29.63806,-95.28194,13.4,1951-06,NaN,NaN,1058.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,USW00012918,Houston,29.63806,-95.28194,13.4,1951-07,NaN,NaN,1653.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,USW00012918,Houston,29.63806,-95.28194,13.4,1951-08,NaN,NaN,2297.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,USW00012918,Houston,29.63806,-95.28194,13.4,1951-09,NaN,NaN,2734.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,USW00012918,Houston,29.63806,-95.28194,13.4,1951-10,NaN,NaN,2965.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,USW00012918,Houston,29.63806,-95.28194,13.4,1951-11,NaN,NaN,3026.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,USW00012918,Houston,29.63806,-95.28194,13.4,1951-12,NaN,NaN,3070.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,USW00012918,Houston,29.63806,-95.28194,13.4,1952-01,NaN,NaN,74.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
Weather_Total=Weather_data.loc[(Weather_data["NAME"]!="HIALEAH, FL US")]
Weather_Total.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,CDSD,CDSD_ATTRIBUTES,...,WSF1,WSF1_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES
0,USW00012918,Houston,29.63806,-95.28194,13.4,1950-01,NaN,NaN,94.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00012918,Houston,29.63806,-95.28194,13.4,1950-02,NaN,NaN,132.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00012918,Houston,29.63806,-95.28194,13.4,1950-03,NaN,NaN,178.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00012918,Houston,29.63806,-95.28194,13.4,1950-04,NaN,NaN,285.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00012918,Houston,29.63806,-95.28194,13.4,1950-05,NaN,NaN,687.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
Weather_Final=Weather_Total.loc[(Weather_Total["NAME"]!="HONOLULU INTERNATIONAL AIRPORT, HI US")]

In [71]:
Weather_Final_Grouped_by_State = Weather_Final.groupby('NAME') .mean()
Weather_Final_Grouped_by_State

,LATITUDE,LONGITUDE,ELEVATION,AWND,CDSD,CLDD,DP01,DP10,DSND,DSNW,...,WDF2,WDF5,WDFG,WDFM,WDMV,WSF1,WSF2,WSF5,WSFG,WSFM
NAME,,,,,,,,,,,,,,,,,,,,,
Anchorage,61.194568,-149.94371,46.352459,6.899766,2.252512,0.450633,9.502208,4.052366,12.983408,1.808036,...,163.297101,154.573460,185.091971,NaN,NaN,25.429394,28.226812,39.919431,39.449202,NaN
Atlanta,33.630100,-84.44180,307.800000,8.278220,152.746108,6.372455,0.064603,3.705389,18.108982,38.851497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chicago,41.737200,-87.77750,189.000000,NaN,501.032727,87.252708,10.433213,6.057762,3.957780,1.027778,...,NaN,NaN,240.856250,222.250000,NaN,NaN,NaN,NaN,45.839063,33.121667
Cleveland,41.405700,-81.85200,238.000000,9.566745,63.944910,7.188024,1.541317,9.897006,11.749701,26.124551,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Corpus Christi,27.774200,-97.51220,13.400000,11.687588,1753.186826,296.458683,6.388024,3.453892,0.004121,0.006868,...,164.542254,169.575972,212.806452,216.321429,NaN,30.927273,36.016197,45.342756,44.169677,36.592143
Detroit,42.409170,-83.01000,190.800000,8.492574,72.534314,5.596421,0.965714,9.682152,11.500612,28.018337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fort Wayne,40.970500,-85.20630,241.100000,9.127635,404.382036,69.405988,11.093413,6.313772,3.443114,0.864671,...,247.148014,243.501805,248.492647,256.886503,NaN,29.978571,35.571119,45.454874,43.259926,34.485890
Houston,29.638060,-95.28194,13.400000,7.640873,1521.470231,260.273381,8.406475,5.335731,0.001669,0.004983,...,217.569721,210.480000,219.625000,NaN,NaN,30.054717,32.248207,43.048000,43.818750,NaN
Las Vegas,36.071900,-115.16340,664.500000,8.529812,272.968862,0.907784,0.017986,2.117365,19.886228,44.398802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Los Angeles,34.023600,-118.29110,54.600000,1.867917,113.124551,1.817964,0.000000,0.004790,21.338922,50.111377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Louisville,38.181100,-85.73910,148.700000,7.806118,727.469461,125.119760,10.340528,6.547962,1.070388,0.377427,...,246.866667,245.933333,248.116438,257.832618,NaN,26.749138,34.736000,43.433333,41.982534,31.763519
Miami,25.758821,-80.30314,7.078445,8.388759,1040.105150,146.686926,4.679868,2.462137,17.429993,35.036853,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nashville,36.118890,-86.68917,182.900000,7.066979,143.623952,6.640719,0.236515,6.091018,16.998802,33.689820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New York,40.638600,-73.76220,3.400000,11.206792,83.374829,6.147743,0.541724,6.491108,11.471956,34.554036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phoenix,33.499100,-112.36300,317.000000,NaN,301.972028,1.489529,0.000000,1.460274,24.915416,45.069863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
San Diego,32.733600,-117.18310,4.600000,6.373302,66.546108,1.714970,0.000000,0.001198,16.338922,51.565269,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Toledo,41.587100,-83.80550,205.400000,8.678454,360.778065,62.265806,11.216774,6.060645,3.814599,1.004367,...,244.049296,247.711268,242.349398,253.650000,NaN,28.678947,34.934507,47.077465,43.755020,32.931667

In [72]:
# Merge the first two datasets on "NAME" so that no data is lost
combined_df = pd.merge(Census_Cities, Weather_Final_Grouped_by_State,
                                 how='outer', on="NAME")
combined_df

,NAME,Population,LATITUDE,LONGITUDE,ELEVATION,AWND,CDSD,CLDD,DP01,DP10,...,WDF2,WDF5,WDFG,WDFM,WDMV,WSF1,WSF2,WSF5,WSFG,WSFM
0,Corpus Christi,322726,27.774200,-97.51220,13.400000,11.687588,1753.186826,296.458683,6.388024,3.453892,...,164.542254,169.575972,212.806452,216.321429,NaN,30.927273,36.016197,45.342756,44.169677,36.592143
1,New York,8560072,40.638600,-73.76220,3.400000,11.206792,83.374829,6.147743,0.541724,6.491108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Toledo,279455,41.587100,-83.80550,205.400000,8.678454,360.778065,62.265806,11.216774,6.060645,...,244.049296,247.711268,242.349398,253.650000,NaN,28.678947,34.934507,47.077465,43.755020,32.931667
3,Cleveland,388812,41.405700,-81.85200,238.000000,9.566745,63.944910,7.188024,1.541317,9.897006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nashville,654187,36.118890,-86.68917,182.900000,7.066979,143.623952,6.640719,0.236515,6.091018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Houston,2267336,29.638060,-95.28194,13.400000,7.640873,1521.470231,260.273381,8.406475,5.335731,...,217.569721,210.480000,219.625000,NaN,NaN,30.054717,32.248207,43.048000,43.818750,NaN
6,Louisville,615478,38.181100,-85.73910,148.700000,7.806118,727.469461,125.119760,10.340528,6.547962,...,246.866667,245.933333,248.116438,257.832618,NaN,26.749138,34.736000,43.433333,41.982534,31.763519
7,Detroit,679865,42.409170,-83.01000,190.800000,8.492574,72.534314,5.596421,0.965714,9.682152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Las Vegas,621662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Anchorage,298225,61.194568,-149.94371,46.352459,6.899766,2.252512,0.450633,9.502208,4.052366,...,163.297101,154.573460,185.091971,NaN,NaN,25.429394,28.226812,39.919431,39.449202,NaN
10,Phoenix,1574421,33.499100,-112.36300,317.000000,NaN,301.972028,1.489529,0.000000,1.460274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,San Diego,1390966,32.733600,-117.18310,4.600000,6.373302,66.546108,1.714970,0.000000,0.001198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Los Angeles,3949776,34.023600,-118.29110,54.600000,1.867917,113.124551,1.817964,0.000000,0.004790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Miami,443007,25.758821,-80.30314,7.078445,8.388759,1040.105150,146.686926,4.679868,2.462137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Atlanta,465230,33.630100,-84.44180,307.800000,8.278220,152.746108,6.372455,0.064603,3.705389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Chicago,2722586,41.737200,-87.77750,189.000000,NaN,501.032727,87.252708,10.433213,6.057762,...,NaN,NaN,240.856250,222.250000,NaN,NaN,NaN,NaN,45.839063,33.121667
16,Fort Wayne,262450,40.970500,-85.20630,241.100000,9.127635,404.382036,69.405988,11.093413,6.313772,...,247.148014,243.501805,248.492647,256.886503,NaN,29.978571,35.571119,45.454874,43.259926,34.485890
17,Las Vegas,NaN,36.071900,-115.16340,664.500000,8.529812,272.968862,0.907784,0.017986,2.117365,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN